# Python for Machine Learning

### *Session \#1*


### Helpful shortcuts
---

**SHIFT** + **ENTER** ----> Execute Cell

**UP/DOWN ARROWS** --> Move cursor between cells (then ENTER to start typing)

**TAB** ----> See autocomplete options

**ESC** then **b** ----> Create Cell 

**ESC** then **dd** ----> Delete Cell

**\[python expression\]?** ---> Explanation of that Python expression

**ESC** then **m** then __ENTER__ ----> Switch to Markdown mode

## I. Preparing Data

### Warm Ups

*Type the given code into the cell below*

---

**Import pandas and read CSV**: 
```python
import pandas as pd
df = pd.read_csv("heart_attack.csv")
```

In [1]:
import pandas as pd
df = pd.read_csv(
    'https://raw.githubusercontent.com/patricks1/'
    'noble-machine-learning/master/Session1/heart_attack.csv'
)

**Set target vector:** `y = df['current_smoker']`

In [2]:
df.columns

Index(['male', 'age', 'education', 'current_smoker', 'cigs_per_day', 'bp_meds',
       'prevalent_stroke', 'prevalent_hyp', 'diabetes', 'tot_chol', 'sys_bp',
       'dia_bp', 'bmi', 'heart_rate', 'glucose', 'heart_attack'],
      dtype='object')

In [3]:
y = df['current_smoker']

**Set feature matrix**
```python
columns = ['current_smoker', 'education']
X = df[columns]
```

In [4]:
columns = ['current_smoker', 'education']
X = df[columns]

**Drop column:** `df.drop(columns=['heart_attack'])`

*Note: You can drop multiple columns at once, by using a list of column names*

In [5]:
df.head()

,male,age,education,current_smoker,cigs_per_day,bp_meds,prevalent_stroke,prevalent_hyp,diabetes,tot_chol,sys_bp,dia_bp,bmi,heart_rate,glucose,heart_attack
0,1,39,4.0,0,0.0,0.0,0,0,0,195000000.0,106.0,70.0,26.97,80.0,77000000.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250000000.0,121.0,81.0,28.73,95.0,76000000.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245000000.0,127.5,80.0,25.34,75.0,70000000.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225000000.0,150.0,95.0,28.58,65.0,103000000.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285000000.0,130.0,84.0,23.10,85.0,85000000.0,0

In [6]:
df.drop(columns=['heart_attack'])

,male,age,education,current_smoker,cigs_per_day,bp_meds,prevalent_stroke,prevalent_hyp,diabetes,tot_chol,sys_bp,dia_bp,bmi,heart_rate,glucose
0,1,39,4.0,0,0.0,0.0,0,0,0,195000000.0,106.0,70.0,26.97,80.0,77000000.0
1,0,46,2.0,0,0.0,0.0,0,0,0,250000000.0,121.0,81.0,28.73,95.0,76000000.0
2,1,48,1.0,1,20.0,0.0,0,0,0,245000000.0,127.5,80.0,25.34,75.0,70000000.0
3,0,61,3.0,1,30.0,0.0,0,1,0,225000000.0,150.0,95.0,28.58,65.0,103000000.0
4,0,46,3.0,1,23.0,0.0,0,0,0,285000000.0,130.0,84.0,23.10,85.0,85000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3651,1,58,3.0,0,0.0,0.0,0,1,0,187000000.0,141.0,81.0,24.96,80.0,81000000.0
3652,1,68,1.0,0,0.0,0.0,0,1,0,176000000.0,168.0,97.0,23.14,60.0,79000000.0
3653,1,50,1.0,1,1.0,0.0,0,1,0,313000000.0,179.0,92.0,25.97,66.0,86000000.0
3654,1,51,3.0,1,43.0,0.0,0,0,0,207000000.0,126.5,80.0,19.71,65.0,68000000.0
3655,0,52,2.0,0,0.0,0.0,0,0,0,269000000.0,133.5,83.0,21.47,80.0,107000000.0

In [7]:
df.head()

,male,age,education,current_smoker,cigs_per_day,bp_meds,prevalent_stroke,prevalent_hyp,diabetes,tot_chol,sys_bp,dia_bp,bmi,heart_rate,glucose,heart_attack
0,1,39,4.0,0,0.0,0.0,0,0,0,195000000.0,106.0,70.0,26.97,80.0,77000000.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250000000.0,121.0,81.0,28.73,95.0,76000000.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245000000.0,127.5,80.0,25.34,75.0,70000000.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225000000.0,150.0,95.0,28.58,65.0,103000000.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285000000.0,130.0,84.0,23.10,85.0,85000000.0,0

**Split data into train/test sets:**
```python
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)
```

*Note: Default split is 0.75 train, 0.25 test. Can change proportion using* `test_size` *parameter*

In [8]:
from sklearn.model_selection import train_test_split
X_train_Iw, X_test_Iw, y_train_Iw, y_test_Iw = train_test_split(X, y)

### Exercises
---

**1. Create the feature matrix** `X` **by forming a dataframe from the columns** `male, current_smoker` **and**   `education`

In [9]:
columns = ['male', 'current_smoker', 'education']

X = df[columns]

**2. Now create the feature matrix** `X` **by instead just dropping** `heart_attack` **from the original dataframe**

In [10]:
X = df.drop(columns=['heart_attack'])

**3. Create the target vector** `y` **from the column** `heart_attack`

In [11]:
y = df['heart_attack']

**4. Use** `train_test_split` **to divide your data into** `X_train`, `X_test`, `y_train`, `y_test`

**Add the parameter** `random_state=1` **to lock in the a particular random selection of rows.**

In [12]:
X_train_I4, X_test_I4, y_train_I4, y_test_I4 = train_test_split(
    X, 
    y, 
    random_state=1
)

## II. Distance and Neighbors

### Warm Ups

*Type the given code into the cell below*

---

**Take the square root:** `sqrt(16)`

In [13]:
from math import sqrt

sqrt(16)

4.0

**Create column by applying function to rows:**  
NOTE: The function you pass to `apply` *must* expect a row as its argument.

In [14]:
df.apply(sum, axis=1)

0       2.720003e+08
1       3.260004e+08
2       3.150004e+08
3       3.280004e+08
4       3.700004e+08
            ...
3651    2.680004e+08
3652    2.550004e+08
3653    3.990004e+08
3654    2.750004e+08
3655    3.760004e+08
Length: 3656, dtype: float64

**Sort dataframe by column values:** 
```python 
df.sort_values('age')
```

In [15]:
df.sort_values('age')

,male,age,education,current_smoker,cigs_per_day,bp_meds,prevalent_stroke,prevalent_hyp,diabetes,tot_chol,sys_bp,dia_bp,bmi,heart_rate,glucose,heart_attack
2028,0,32,2.0,1,15.0,0.0,0,0,0,242000000.0,111.0,70.0,29.84,80.0,88000000.0,0
1799,0,33,2.0,1,5.0,0.0,0,0,0,200000000.0,119.0,74.0,23.80,75.0,74000000.0,0
378,0,33,3.0,1,15.0,0.0,0,0,0,199000000.0,116.0,81.0,21.61,75.0,93000000.0,0
1136,0,33,1.0,0,0.0,0.0,0,0,0,158000000.0,108.0,67.0,19.84,86.0,69000000.0,0
2629,1,33,4.0,0,0.0,0.0,0,0,0,165000000.0,136.0,75.0,24.95,88.0,90000000.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2799,0,69,3.0,0,0.0,0.0,0,0,0,286000000.0,117.0,73.0,20.92,85.0,103000000.0,0
3585,0,69,2.0,0,0.0,1.0,0,1,0,220000000.0,143.0,81.0,26.27,60.0,77000000.0,0
3158,0,69,3.0,0,0.0,1.0,0,1,0,203000000.0,166.0,90.0,25.40,77.0,80000000.0,0
2815,1,69,1.0,1,4.0,0.0,0,1,0,232000000.0,151.0,74.0,24.14,75.0,62000000.0,0
2690,0,70,2.0,0,0.0,1.0,0,1,0,231000000.0,136.0,84.0,31.78,60.0,95000000.0,0

### Exercises
---

![image](../images/coordinateplane.png)

**1. Use the square root function,** `sqrt()`**, to find the distance between the two points.**

*Hint: In two dimensions, the formula for distance is $\sqrt{(x_0-x_1)^2 + (y_0 - y_1)^2}$*

In [16]:
x_diff = 4-(-2)
y_diff = 3-1

sqrt(x_diff**2 + y_diff**2)

6.324555320336759

![image](../images/threedimensions.jpeg)

**2. Find the distance between the two points in three dimensions.**

*Hint: In two dimensions, the formula for distance is $\sqrt{(x_0-x_1)^2 + (y_0 - y_1)^2 + (z_0 - z_1)^2}$*

In [17]:
x_diff = 3 - 2
y_diff = -1 - 1
z_diff = 5 - (-1)

sqrt(x_diff**2 + y_diff**2 + z_diff**2)

6.4031242374328485

**3. Complete the function below, which finds the distance between two rows of data in 2D.**

*Hint: In two dimensions, the formula for distance is $\sqrt{(x_0-x_1)^2 + (y_0 - y_1)^2 + (z_0 - z_1)^2}$*

In [18]:
def distance_2d(row1, row2):
    
    # define x_diff = difference between row1['x'] and row2['x']
    x_diff = row1['x'] - row2['x']
    
    # define y_diff = difference between row1['y'] and row2['y']
    y_diff = row1['y'] - row2['y']
    
    # define total = square x_diff and y_diff, add them together
    total = x_diff**2 + y_diff**2
    
    # take the square root 
    return sqrt(total)


# Use the rows below to test your function!
# Answer should be 37
test_row_1 = pd.Series({'x': 10, 'y': -30})
test_row_2 = pd.Series({'x': -2, 'y': 5})

distance_2d(test_row_1, test_row_2)

37.0

**4. Complete the function below, which finds the distance between two rows of data in ANY dimension.**

In [19]:
def distance(row1, row2):
    total = 0   
    for column in row1.index:
        # Find the difference between row1 and row2 along this column
        diff = row1[column] - row2[column]
        # Square the difference, add it to total
        total += diff**2
    # Return the square root of total
    return sqrt(total)

# Use the rows below to test your function!
# Answer should be 15
test_row_3 = pd.Series({'x': 10, 'y': -30, 'z':-1})
test_row_4 = pd.Series({'x': 12, 'y': -20, 'z':10})

distance(test_row_3, test_row_4)

15.0

**5. Here is a new row of data that we name** `new_patient_data`**. Write a new function** `distance_from_new` **which *uses*** `distance` **to calculate the distance of a given row from** `new_patient_data`**.**

In [20]:
new_patient_data = pd.Series({'male': 1, 'age': 34, 'education': 3,
                              'current_smoker': 0, 'cigs_per_day': 0,
                              'bp_meds': 0, 'prevalent_stroke': 0,
                              'prevalent_hyp': 0, 'diabetes': 0,
                              'tot_chol': 195000000.0, 'sys_bp': 121,
                              'dia_bp': 75, 'diabetes': 0, 'bmi': 23,
                              'heart_rate': 55, 'glucose': 77000000.0})

def distance_from_new(row):
    return distance(row, new_patient_data)

**6. Create a variable** `distances` **which contains the distance between** `new_patient_data` **and each row in** `X_train_I4`**.**  

*Hint:* Remember `df.apply` from the warmups. If you wanted a sum of columns for each row in `X_train_I4`, you would do
```python
X_train_I4.apply(sum, axis=1)
```
Now, consider what function you can use instead of `sum` to accomplish the goal specified here.

In [21]:
distances = X_train_I4.apply(
    distance_from_new, 
    axis=1
)

**7. Finally, sort** `df` **according to** `distances`.

*Hint 1:* You can sort a `pd.Series` similarly to how you sort a `pd.DataFrame`.  
*Hint 2:* You can pull the indices of a `pd.Series` from the `Series`'s `.index` attribute.

In [22]:
# Sort the dataframe according to distance.
indices = distances.sort_values().index
df.loc[indices]

,male,age,education,current_smoker,cigs_per_day,bp_meds,prevalent_stroke,prevalent_hyp,diabetes,tot_chol,sys_bp,dia_bp,bmi,heart_rate,glucose,heart_attack
0,1,39,4.0,0,0.0,0.0,0,0,0,195000000.0,106.0,70.0,26.97,80.0,77000000.0,0
3515,0,36,1.0,0,0.0,0.0,0,0,0,195000000.0,116.0,76.0,22.16,88.0,77000000.0,0
2609,1,44,1.0,0,0.0,0.0,0,0,0,195000000.0,114.0,79.0,25.01,60.0,76000000.0,0
3033,0,50,1.0,1,20.0,0.0,0,0,0,195000000.0,131.5,83.0,24.61,75.0,78000000.0,0
1325,0,43,2.0,1,20.0,0.0,0,0,0,195000000.0,104.0,57.0,20.86,75.0,78000000.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3417,1,64,3.0,0,0.0,0.0,0,1,1,195000000.0,176.0,78.0,24.90,95.0,370000000.0,0
2065,0,62,1.0,0,0.0,0.0,0,0,1,233000000.0,130.0,87.0,21.34,85.0,386000000.0,0
3309,0,62,3.0,1,20.0,1.0,0,1,1,358000000.0,215.0,110.0,37.62,110.0,368000000.0,1
2490,1,62,3.0,0,0.0,0.0,0,0,1,346000000.0,102.5,66.5,17.17,80.0,394000000.0,1
966,0,52,2.0,0,0.0,0.0,0,1,1,600000000.0,159.5,94.0,28.27,78.0,140000000.0,1

### Extra Credit
---
**Create a function** `neighbors` **that takes a feature matrix and a new** `sample_row` **and returns the 5 rows of the feature matrix that are nearest to the** `sample_row`**.**  

Run `neighbors` by passing `X_train_I4` as the `feature_matrix` and `new_patient_data` as the `sample_row`.

*HINT: You wrote a function* `distance_from_new` *earlier. You made this specifically for distance from the variable* `new_patient_data`*. You'll need to make a new, similar function **inside*** `neighbors` *to calculate distance from the given* `sample_row`*.*

In [23]:
def neighbors(feature_matrix, sample_row):
    '''
    Parameters
    ----------
    feature_matrix: pd.DataFrame
        A feature matrix with columns that are the same as the indices of
        `sample_row`.
    sample_row: pd.Series
        A new row of data with indices corresponding to the columns of df.
        
    Returns
    -------
    closest_neighbors: pd.DataFrame
        The 5 rows from `feature_matrix` that are the closest neighbors to
        `sample_row`.
    '''

    def distance_from_sample(row):
        return distance(row, sample_row)
    
    distances = feature_matrix.apply(distance_from_sample, axis=1)
    indices = distances.sort_values().index[:5]
    closest_neighbors = df.loc[indices]

    return closest_neighbors

neighbors(X_train_I4, new_patient_data)

,male,age,education,current_smoker,cigs_per_day,bp_meds,prevalent_stroke,prevalent_hyp,diabetes,tot_chol,sys_bp,dia_bp,bmi,heart_rate,glucose,heart_attack
0,1,39,4.0,0,0.0,0.0,0,0,0,195000000.0,106.0,70.0,26.97,80.0,77000000.0,0
3515,0,36,1.0,0,0.0,0.0,0,0,0,195000000.0,116.0,76.0,22.16,88.0,77000000.0,0
2609,1,44,1.0,0,0.0,0.0,0,0,0,195000000.0,114.0,79.0,25.01,60.0,76000000.0,0
3033,0,50,1.0,1,20.0,0.0,0,0,0,195000000.0,131.5,83.0,24.61,75.0,78000000.0,0
1325,0,43,2.0,1,20.0,0.0,0,0,0,195000000.0,104.0,57.0,20.86,75.0,78000000.0,0

## III. Sci-Kit Learn and K-Nearest Neighbors

### Warm Ups
---

In [24]:
# Run to reset data

X = df.drop(columns=['heart_attack'])
y = df['heart_attack']
X_train_IIIw, X_test_IIIw, y_train_IIIw, y_test_IIIw = train_test_split(
    X, 
    y, 
    random_state=1
)

**Create KNN Classifier, using 5 neighbors**:

In [25]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(5)

**Fit model**:

In [26]:
model.fit(X_train_IIIw, y_train_IIIw)

KNeighborsClassifier()

**Classify using model**: `model.predict(X_test)`

In [27]:
model.predict(X_test_IIIw)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

**Assess the accuracy of the model**: `model.score(X_test, y_test)`

In [28]:
model.score(X_test_IIIw, y_test_IIIw)

0.8369803063457331

### Exercises
---
**1. Use the `neighbors` function from the previous section to find the 5 rows in** `X_train_IIIw` **that are the  nearest neighbors to** `X_test_IIIw.iloc[0]`.

In [29]:
neighbors(X_train_IIIw, X_test_IIIw.iloc[0])

,male,age,education,current_smoker,cigs_per_day,bp_meds,prevalent_stroke,prevalent_hyp,diabetes,tot_chol,sys_bp,dia_bp,bmi,heart_rate,glucose,heart_attack
2689,0,60,1.0,1,15.0,0.0,1,1,0,254000000.0,177.0,101.0,23.27,92.0,79000000.0,1
663,1,53,2.0,0,0.0,0.0,0,1,0,254000000.0,160.0,92.0,25.61,60.0,80000000.0,0
244,0,46,1.0,0,0.0,0.0,0,0,0,254000000.0,136.0,87.0,31.24,88.0,80000000.0,0
1284,1,55,1.0,0,0.0,0.0,0,0,0,255000000.0,129.0,78.0,26.36,69.0,79000000.0,0
3324,0,38,4.0,0,0.0,0.0,0,0,0,254000000.0,120.5,76.0,22.73,75.0,78000000.0,0

**2. The trained scikit-learn model relies on the SAME distance calculations.**

**Call** `model.kneighbors([X_test_IIIw.iloc[0]])` **to get the distances and row numbers of the nearest neighbors.**

**Call** `X_train_IIIw.iloc[]` **on the row numbers that come back. It should give you the same rows that we got using our own techniques from above**

In [30]:
distances, row_numbers = model.kneighbors([X_test_IIIw.iloc[0]])

X_train_IIIw.iloc[row_numbers[0]]

/Users/patrick/miniconda3/envs/p4ds/lib/python3.10/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

,male,age,education,current_smoker,cigs_per_day,bp_meds,prevalent_stroke,prevalent_hyp,diabetes,tot_chol,sys_bp,dia_bp,bmi,heart_rate,glucose
2689,0,60,1.0,1,15.0,0.0,1,1,0,254000000.0,177.0,101.0,23.27,92.0,79000000.0
663,1,53,2.0,0,0.0,0.0,0,1,0,254000000.0,160.0,92.0,25.61,60.0,80000000.0
244,0,46,1.0,0,0.0,0.0,0,0,0,254000000.0,136.0,87.0,31.24,88.0,80000000.0
1284,1,55,1.0,0,0.0,0.0,0,0,0,255000000.0,129.0,78.0,26.36,69.0,79000000.0
3324,0,38,4.0,0,0.0,0.0,0,0,0,254000000.0,120.5,76.0,22.73,75.0,78000000.0